@use '../utils/mixins' as *;

.btn {
  @include button;
  max-height: 100%;
  &-light {
    --btn-background: var(--color-secondary);
  }

  &-dark {
    --btn-background: var(--color-primary);
  }

  &-big {
    --btn-font-size: 1.2rem;
    --btn-padding: 14px 30px;
  }

  &-xl {
    --btn-font-size: 1.6rem;
    --btn-padding: 14px 30px;
  }

  &-small {
    --btn-font-size: 1rem;
    --btn-padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .btn {
    &-xl {
      --btn-font-size: 1.3rem;
      --btn-padding: 10px 20px;
    }

    &-big {
      --btn-font-size: 1rem;
      --btn-padding: 3% 12%;
    }

    &-small {
      --btn-font-size: 0.8rem;
      --btn-padding: 6px 12px;
    }
  }
}

@media (max-width: 420px) {
  .btn {
    &-xl {
      --btn-font-size: 1.2rem;
      --btn-padding: 10px 20px;
    }
  }
}
