.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  p {
    font-family: 'dejanire-headline', serif;
    font-weight: 900;
    color: var(--color-secondary);
    text-align: center;
    width: fit-content;
  }

  &__sm {
    font-size: 2rem;
  }

  &__md {
    font-size: 5.7vw;
  }

  &__lg {
    font-size: 8.2vw;
  }

  &__link {
    text-decoration: none;
  }
}
