@use '../utils/colors' as *;

.scroll-to-top {
  position: fixed !important;
  bottom: 3vh;
  right: 2%;
  background: var(--color-secondary);
  border-radius: 50% !important;
  aspect-ratio: 1;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--color-primary);
  }
}
