@use '../../utils/mixins' as *;

.home__bestsellers {
  .container {
    //  background-color: rgba(255, 161, 1, 0.65);
    //  height: 100% !important;
  }
}

// parent
.bestsellers {
  //parent also with class auto-grid-container
  &__cards-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 20px;
  }

  // card box
  &__card {
    &-wrapper {
      //   padding-top: 75%; /* 4:3 aspect ratio */
      //   background: rgba(50, 81, 91, 0.62);
      //    border: 2px solid #32515b;
      aspect-ratio: 5/4;
      display: grid;
      grid-template-areas:
        'img img'
        'title title'
        'price btns';
      grid-template-columns: 0.8fr 1.2fr;
      grid-template-rows: 0.7fr 0.2fr 0.1fr;
      grid-auto-flow: column;
    }

    &-image {
      &-wrapper {
        grid-area: img;
        //     background: rgba(81, 50, 91, 0.84);
        & img {
          border-radius: 10px;
          width: 100%;
        }
      }
    }

    &-title {
      grid-area: title;
      //    background: rgba(87, 208, 18, 0.84);
      padding: 0 0 5px 5px;
    }

    &-price {
      grid-area: price;
      align-self: end;
      justify-self: start;
      padding: 0 0 5px 5px;
      //  background: rgba(18, 79, 216, 0.84);
    }

    &-button {
      &-group {
        grid-area: btns;
        justify-self: end;
        align-self: end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        //      background: rgba(215, 5, 60, 0.84);
        min-width: 100%;
        max-width: 100%;
      }

      &-add {
        --btn-padding: 6px 30px;
        --btn-radius: 5px;
        --btn-font-size: max(1rem, 4cqi);
      }

      &-change-qty {
        //   --btn-padding: 6px 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
        }
      }
    }
  }
}

@media (min-width: 800px) {
  // parent
  .bestsellers {
    //parent also with class auto-grid-container
    &__cards-container {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card {
      &-wrapper {
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: 0.8fr 0.1fr 0.1fr;
      }

      &-button {
        &-group {
          &.has-change-qty {
            justify-content: space-between;
            gap: 0;
          }
          &.has-add {
            justify-content: end;
          }
        }

        &-add {
          --btn-font-size: max(1.3rem, 2cqi);
          justify-content: end;
        }

        &-change-qty {
          --btn-font-size: max(1rem, 1cqi);
        }
      }
    }
  }
}
