@use '../../utils/fonts' as *;
@use '../../utils/colors' as *;

.home {
  &__hero {
    &-container {
      --container-width: 100dvw;
      display: grid;
      grid-template-areas:
        'head head side img img'
        'desc desc side img img'
        'btm btm btm img img';
      grid-template-columns: 1fr 1.4fr 0.6fr 1fr 1fr;
      grid-template-rows: 0.3fr 0.2fr 0.5fr;
      grid-auto-flow: column;

      & > * {
        min-width: 100%;
        min-height: 100%;
      }
    }

    &-title {
      grid-area: head;
      container-type: inline-size;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      & > h2 {
        @include section-header-font;
        --section-header-font-size: max(1rem, 11cqi);
      }

      &-side {
        grid-area: side;
        container-type: inline-size;
        position: relative;

        & > p {
          @include section-header-font;
          position: relative;
          --section-header-color: var(--color-secondary);
          --section-header-font-style: normal;
          --section-header-font-size: max(1rem, 70cqi);
          rotate: 90deg;
          flex-grow: 1;
          flex-shrink: 0;
          top: 40%;
        }
      }
    }

    &-desc {
      grid-area: desc;
      container-type: inline-size;
      font-size: max(0.6rem, 2cqi);

      & > p {
        --main-text-color: var(--color-muted);
        text-align: right;
      }
    }

    &-bottom {
      grid-area: btm;
      display: grid;
      grid-template-columns: 1fr 0.9fr;

      &-btn {
        align-self: center;
        margin: 1rem;
      }
    }

    &-image-right {
      grid-area: img;
    }
  }
}

@media (max-width: 832px) {
  .home {
    &__hero {
      &-container {
        display: grid;
        grid-template-areas:
          'head head '
          'desc img'
          'btm btm';
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 0.4fr 1fr 0.4fr;
        grid-auto-flow: column;
        justify-content: center;
      }

      &-title {
        grid-area: head;
        justify-content: center;
        align-items: center;

        &-side {
          grid-area: head;

          > p {
            font-size: max(1rem, 12cqi);
            rotate: unset;
            text-align: right;
            margin: 1rem;
          }
        }
      }

      &-desc {
        font-size: max(0.5rem, 4cqi);
      }

      &-bottom {
        display: unset;
        text-align: center;

        &-btn {
          grid-area: btm;
        }

        &-image-left {
          display: none;
        }
      }

      &-image-right {
        grid-area: img;
        max-height: 100%;
      }
    }
  }
}
