@use '../../utils/fonts' as *;
@use '../../utils/mixins' as *;

.navbar {
  @include navbar;

  &__element-wrapper {
    @include nav-element-wrapper;
    & > * {
      flex-grow: 1;
      flex-wrap: nowrap;
      width: fit-content;
      margin: 1rem 0;
    }
  }

  &__links-item {
  }
}

@media (max-width: 800px) {
  .navbar {
    --nav-display: flex;

    justify-content: space-between;
    &__element-wrapper {
      --nav-el-wrapper-gap: 0 !important;
    }
  }
}
