@use '../../utils/fonts' as *;
@use '../../utils/mixins' as *;

.navbar {
  // display: grid !important;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 4.1rem 1fr;
  background: var(--color-light);
  margin-inline: 1rem;

  &__element-wrapper {
    @include nav-element-wrapper;
    & > * {
      flex-grow: 1;
      flex-wrap: nowrap;
      width: fit-content;
      margin: 1rem 0;
      // @include links;
    }
  }

  &__actions {
    container-type: inline-size;
    & > * {
      text-align: right;
      flex-grow: 1;
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    &__actions {
      margin-bottom: 1rem;
    }
  }
}
