@use '../../utils/fonts' as *;

.navbar {
  &__actions {
    container-type: inline-size;

    &-element {
      @include main-font;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    &-icons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    &__actions {
      margin-bottom: 1rem;
      &-icons {
        --main-text-font-size: 1rem;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
