@use '../../utils/fonts' as *;
@use '../../utils/mixins' as *;

.navbar {
  grid-auto-flow: var(--nav-flow);
  grid-auto-columns: var(--nav-flow-size);
  background: var(--nav-background);
  margin-inline: 1rem;

  &__element-wrapper {
    @include nav-element-wrapper;
    & > * {
      flex-grow: 1;
      flex-wrap: nowrap;
      width: fit-content;
      margin: 1rem 0;
      // @include links;
    }
  }
}
