.navbar {
  &__search {
    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
    }

    &-input {
      border-radius: 10px;
      border: 2px solid var(--color-primary);
      background: none;
      height: 30px;
      min-width: 20vw;
      max-width: 40vw;
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    &__search {
      &-input {
        min-width: 60vw;
        max-width: 80vw;
      }
    }
  }
}
