@use '../utils/fonts' as *;
@use '../utils/colors' as *;
@use '../utils/mixins' as *;

* {
  //  outline: 3px solid slateblue;
  margin: 0;
}

body,
html {
  @include main-font;
  background-color: var(--main-background);
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

section,
footer {
  height: 100dvh;
}

main {
  height: calc(100% - 4.5rem);
}

.section-header {
  @include section-header-font;
  text-align: center;
  &__wrapper {
    container-type: inline-size;
  }
}

.container {
  width: var(--container-width);
  min-height: 100%;
  margin-inline: auto;
}

p {
  color: var(--main-text-color);
}

img {
  max-width: 100%;
  height: auto;
}

a:not(.btn) {
  @include links;
}

//reset mui button for better icons styling {
button:not(.btn) {
  border-radius: 0 !important;
  margin: 0;
  margin-inline: 0;
  padding: 0;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  @include links;
  &:hover {
    background: none;
  }
}

@media (max-width: 832px) {
  .section-header {
    --section-header-font-size: max(1rem, 9cqi);
  }
}
