@use '../utils/colors' as *;

@mixin theme-colors {
  --color-primary: #{$blue-green};
  --color-secondary: #{$orange};
  --color-muted: #{$grey};
  --color-light: #{$white-grey};
  --main-background: #{$white-grey};
}

@mixin text-props {
  --main-text-font: arboria, 'sans-serif';
  --main-text-font-weight: 400;
  --main-text-font-style: normal;
  --main-text-font-size: 1.25rem;
  --main-text-color: var(--color-primary);
}

@mixin section-header-props {
  --section-header-font: 'dejanire-headline', serif;
  --section-header-font-weight: 700;
  --section-header-font-style: italic;
  --section-header-font-size: max(1rem, 5cqi);
  --section-header-color: var(--color-primary);
}

@mixin button-props {
  --btn-font-family: 'arboria', sans-serif;
  --btn-font-color: var(--color-light);
  --btn-font-size: 1rem;
  --btn-border: none;
  --btn-radius: 10px;
}

@mixin nav-props {
  --nav-display: grid;
  --nav-background: var(--color-light);
  --nav-flow: column;
  --nav-flow-size: 1fr 4.1rem 1fr;
}

@mixin nav-element-wrapper-props {
  --nav-el-wrapper-direction: row;
  --nav-el-wrapper-margin: 0 0 0 2rem;
  --nav-el-wrapper-align: center;
  --nav-el-wrapper-justify: center;
  --nav-el-wrapper-gap: 2rem;

  @media (max-width: 800px) {
    --nav-el-wrapper-margin: 0;
    --nav-el-wrapper-direction: column;
    --nav-el-wrapper-gap: 2rem;
  }
}

@mixin links-props {
  --link-color: var(--color-primary);
  --link-decoration: none;
}
