@import url('https://use.typekit.net/uyp0tfz.css');

@mixin main-font {
  font-family: var(--main-text-font);
  font-weight: var(--main-text-font-weight);
  font-style: var(--main-text-font-style);
  font-size: var(--main-text-font-size);
}

@mixin section-header-font {
  font-family: var(--section-header-font);
  font-weight: var(--section-header-font-weight);
  font-style: var(--section-header-font-style);
  font-size: var(--section-header-font-size);
}

@mixin dejanire-headline-regular {
  font-family: 'dejanire-headline', serif;
  font-weight: 400;
  font-style: normal;
}

@mixin dejanire-headline-italic {
  font-family: 'dejanire-headline', serif;
  font-weight: 400;
  font-style: italic;
}

@mixin dejanire-headline-bold {
  font-family: 'dejanire-headline', serif;
  font-weight: 700;
  font-style: normal;
}

@mixin dejanire-headline-bold-italic {
  font-family: 'dejanire-headline', serif;
  font-weight: 700;
  font-style: italic;
}

@mixin arboria-book {
  font-family: arboria, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin arboria-bold {
  font-family: arboria, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin arboria-black {
  font-family: arboria, sans-serif;
  font-weight: 900;
  font-style: normal;
}

// to możesz dać do folderu helpers/fonts i tam zrobić więcej takich
.txt-bolder {
  --main-text-font-weight: 900;
  font-weight: var(--main-text-font-weight);
}

.txt-muted {
  --main-text-font-color: var(--color-muted);
  color: var(--main-text-font-color);
}
